asgiref 
backports.zoneinfo
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
cors-headers
crispy-forms
filter
pdfkit
rest-knox
rest-passwordreset
djangorestframework
gunicorn
idna
mysqlclient
pdfkit
Pillow
psycopg2-binary
pycparser
PyJWT
python-decouple
python-http-client
pytz
requests
sendgrid
sqlparse
starkbank-ecdsa
stripe
twilio
typing-extensions
urllib3
